name: Shell Lint

on:
  push:
    paths:
      - '**/*.sh'
  pull_request:
    paths:
      - '**/*.sh'

jobs:
  shellcheck:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: ShellCheck
        uses: koalaman/shellcheck-action@master
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
